* {
  box-sizing: border-box;
}
/*小屏的时候*/
.container {
  width: 535px;
  margin: auto;
}
.container > .row {
  width: 100%;
}
.container > .row:before,
.container > .row:after {
  content: "";
  display: block;
}
.container > .row:after {
  clear: both;
}
.container-fluid {
  width: 100%;
  margin: auto;
}
.container-fluid > .row {
  width: 100%;
}
.container-fluid > .row:before,
.container-fluid > .row:after {
  content: "";
  display: block;
}
.container-fluid > .row:after {
  clear: both;
}
/*最小屏*/
.container > .row > .col-s-1 {
  float: left;
  width: 8.33333333%;
}
.container-fluid > .row > .col-s-1 {
  float: left;
  width: 8.33333333%;
}
.container > .row > .col-s-2 {
  float: left;
  width: 16.66666667%;
}
.container-fluid > .row > .col-s-2 {
  float: left;
  width: 16.66666667%;
}
.container > .row > .col-s-3 {
  float: left;
  width: 25%;
}
.container-fluid > .row > .col-s-3 {
  float: left;
  width: 25%;
}
.container > .row > .col-s-4 {
  float: left;
  width: 33.33333333%;
}
.container-fluid > .row > .col-s-4 {
  float: left;
  width: 33.33333333%;
}
.container > .row > .col-s-5 {
  float: left;
  width: 41.66666667%;
}
.container-fluid > .row > .col-s-5 {
  float: left;
  width: 41.66666667%;
}
.container > .row > .col-s-6 {
  float: left;
  width: 50%;
}
.container-fluid > .row > .col-s-6 {
  float: left;
  width: 50%;
}
.container > .row > .col-s-7 {
  float: left;
  width: 58.33333333%;
}
.container-fluid > .row > .col-s-7 {
  float: left;
  width: 58.33333333%;
}
.container > .row > .col-s-8 {
  float: left;
  width: 66.66666667%;
}
.container-fluid > .row > .col-s-8 {
  float: left;
  width: 66.66666667%;
}
.container > .row > .col-s-9 {
  float: left;
  width: 75%;
}
.container-fluid > .row > .col-s-9 {
  float: left;
  width: 75%;
}
.container > .row > .col-s-10 {
  float: left;
  width: 83.33333333%;
}
.container-fluid > .row > .col-s-10 {
  float: left;
  width: 83.33333333%;
}
.container > .row > .col-s-11 {
  float: left;
  width: 91.66666667%;
}
.container-fluid > .row > .col-s-11 {
  float: left;
  width: 91.66666667%;
}
.container > .row > .col-s-12 {
  float: left;
  width: 100%;
}
.container-fluid > .row > .col-s-12 {
  float: left;
  width: 100%;
}
.col-s-hide {
  display: none;
}
.nav-list {
  display: none;
}
.nav-list2 {
  display: block;
}
.nav-lb li {
  clear: both;
  width: 100%;
}
/*中屏*/
@media screen and (min-width: 735px) {
  .container {
    width: 735px;
    margin: auto;
  }
  .container > .row > .col-m-1 {
    float: left;
    width: 8.33333333%;
  }
  .container-fluid > .row > .col-m-1 {
    float: left;
    width: 8.33333333%;
  }
  .container > .row > .col-m-2 {
    float: left;
    width: 16.66666667%;
  }
  .container-fluid > .row > .col-m-2 {
    float: left;
    width: 16.66666667%;
  }
  .container > .row > .col-m-3 {
    float: left;
    width: 25%;
  }
  .container-fluid > .row > .col-m-3 {
    float: left;
    width: 25%;
  }
  .container > .row > .col-m-4 {
    float: left;
    width: 33.33333333%;
  }
  .container-fluid > .row > .col-m-4 {
    float: left;
    width: 33.33333333%;
  }
  .container > .row > .col-m-5 {
    float: left;
    width: 41.66666667%;
  }
  .container-fluid > .row > .col-m-5 {
    float: left;
    width: 41.66666667%;
  }
  .container > .row > .col-m-6 {
    float: left;
    width: 50%;
  }
  .container-fluid > .row > .col-m-6 {
    float: left;
    width: 50%;
  }
  .container > .row > .col-m-7 {
    float: left;
    width: 58.33333333%;
  }
  .container-fluid > .row > .col-m-7 {
    float: left;
    width: 58.33333333%;
  }
  .container > .row > .col-m-8 {
    float: left;
    width: 66.66666667%;
  }
  .container-fluid > .row > .col-m-8 {
    float: left;
    width: 66.66666667%;
  }
  .container > .row > .col-m-9 {
    float: left;
    width: 75%;
  }
  .container-fluid > .row > .col-m-9 {
    float: left;
    width: 75%;
  }
  .container > .row > .col-m-10 {
    float: left;
    width: 83.33333333%;
  }
  .container-fluid > .row > .col-m-10 {
    float: left;
    width: 83.33333333%;
  }
  .container > .row > .col-m-11 {
    float: left;
    width: 91.66666667%;
  }
  .container-fluid > .row > .col-m-11 {
    float: left;
    width: 91.66666667%;
  }
  .container > .row > .col-m-12 {
    float: left;
    width: 100%;
  }
  .container-fluid > .row > .col-m-12 {
    float: left;
    width: 100%;
  }
  .col-s-hide {
    display: block;
  }
  .col-l-hide {
    display: block;
  }
  .col-m-hide {
    display: none;
  }
  .nav-list {
    display: block;
  }
  .nav-list-hide {
    display: none;
  }
}
/*大屏*/
@media screen and (min-width: 1060px) {
  .container {
    width: 1060px;
    margin: auto;
  }
  .container > .row > .col-l-1 {
    float: left;
    width: 8.33333333%;
  }
  .container-fluid > .row > .col-l-1 {
    float: left;
    width: 8.33333333%;
  }
  .container > .row > .col-l-2 {
    float: left;
    width: 16.66666667%;
  }
  .container-fluid > .row > .col-l-2 {
    float: left;
    width: 16.66666667%;
  }
  .container > .row > .col-l-3 {
    float: left;
    width: 25%;
  }
  .container-fluid > .row > .col-l-3 {
    float: left;
    width: 25%;
  }
  .container > .row > .col-l-4 {
    float: left;
    width: 33.33333333%;
  }
  .container-fluid > .row > .col-l-4 {
    float: left;
    width: 33.33333333%;
  }
  .container > .row > .col-l-5 {
    float: left;
    width: 41.66666667%;
  }
  .container-fluid > .row > .col-l-5 {
    float: left;
    width: 41.66666667%;
  }
  .container > .row > .col-l-6 {
    float: left;
    width: 50%;
  }
  .container-fluid > .row > .col-l-6 {
    float: left;
    width: 50%;
  }
  .container > .row > .col-l-7 {
    float: left;
    width: 58.33333333%;
  }
  .container-fluid > .row > .col-l-7 {
    float: left;
    width: 58.33333333%;
  }
  .container > .row > .col-l-8 {
    float: left;
    width: 66.66666667%;
  }
  .container-fluid > .row > .col-l-8 {
    float: left;
    width: 66.66666667%;
  }
  .container > .row > .col-l-9 {
    float: left;
    width: 75%;
  }
  .container-fluid > .row > .col-l-9 {
    float: left;
    width: 75%;
  }
  .container > .row > .col-l-10 {
    float: left;
    width: 83.33333333%;
  }
  .container-fluid > .row > .col-l-10 {
    float: left;
    width: 83.33333333%;
  }
  .container > .row > .col-l-11 {
    float: left;
    width: 91.66666667%;
  }
  .container-fluid > .row > .col-l-11 {
    float: left;
    width: 91.66666667%;
  }
  .container > .row > .col-l-12 {
    float: left;
    width: 100%;
  }
  .container-fluid > .row > .col-l-12 {
    float: left;
    width: 100%;
  }
  .col-s-hide {
    display: block;
  }
  .col-m-hide {
    display: block;
  }
  .col-l-hide {
    display: none;
  }
  .nav-list {
    display: block;
  }
  .nav-list-hide {
    display: none;
  }
}
/*清除浮动*/
.zt .zt-zi .zt-zi-ul .zt-zi-li a {
  color: #666666;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .zt .zt-1 {
    width: 100%;
  }
  .zt .zt-1 .zt-zi {
    border-bottom: 1px solid #e3e3e3;
  }
  .zt .zt-zi .zt-zi-ul .zt-zi-li {
    width: 100%;
  }
  .zt .zt-zi h3 {
    background: #f2f2f2;
    cursor: pointer;
    font-size: 14px;
    line-height: 2.78571;
    font-weight: 400;
    font-family: inherit;
  }
  .zt .zt-zi h3:after {
    content: '+';
    float: right;
    font-weight: normal;
    margin-right: 8px;
  }
}
.ac-item-last {
  display: inline-block;
  position: relative;
  height: 44px;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  vertical-align: top;
}
